
.liberty-yellow {
    background-color: #ffd000;
}

.liberty-blue {
    color: #002663;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 15px 10px 5px 10px;
}

hr{
    border: 2px solid  #002663;
}

.bold {
    font-weight: bold;
    color: #002663;
}

.textbody {
    padding: 10px;
}

li {
    display: inline-block;
    padding: 5px 10px 15px 10px;
    color: #002663;
  }

  footer {
      padding: 10px;
      font-size: 10px;
      font: #002663;
      background-color: #ffd000;
  }